/* Gradients */
.navbar, .footer {
  background: #ff9966; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff5e62,
    #ff9966
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ff5e62,
    #ff9966
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.nav-button {
  border: none;
  width: 75px;
  text-align: center;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.nav-button:hover {
  background-color: #ff5e62;
  cursor: pointer;
  text-decoration: underline;
}
.img-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image {
  width: 100%;
}

.title {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 34px;
  color: rgb(2, 134, 101);
}

.image-title {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}
.image-subtitle{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
}
.text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;
}
.footer{
  height: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}